.our-team-page .secondary-banner-content {
    background: transparent;
}

.site-nav li ul.submenu {
    display: block;
    position: absolute;
    width: max-content;
    padding: 20px;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255 255 255 /20%);
    top: calc(100% + 60px);
    left: 0;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.team-section {
    padding: 124px 0;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 94px;
}

.team-item-img {
    overflow: hidden;
}

.team-item-img img {
    width: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.team-item-img:hover img {
    transform: scale(1.1);
}

.team-content {
    margin-top: 24px;
    text-align: center;
}
.team-content h3 {
    text-align: center;
    font-size: clamp(20px,3.5vw,32px);
    font-weight: 400;
    margin: 0 0 11px;
    color: #fff;
}

.team-content p {
    font-size: 20px;
    color: rgb(255 255 255 / 50%);
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .team-grid {
        gap: 44px;
    }  
}
@media screen and (max-width: 991px) {
    .team-grid {
        gap: 24px;
    }  
}

@media screen and (max-width: 768px) {
    .team-section {
        padding: 64px 0;
    }
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .team-content p {
        font-size: 18px;
    }
}

@media screen and (max-width: 575px) {
    .team-section {
        padding: 44px 0;
    }
    .team-grid {
        grid-template-columns:100%;
    }
    .team-content p {
        font-size: 16px;
    }
}