
@media screen and (max-width:1600px){
	.secondary-header #main {
		padding-top: 142px;
	}
	.mega-menu .container {
		padding: 40px 20px 24px;
		max-width: 1528px;
	}
	.site-header .container {
		padding: 35px 20px;
	}
	.site-logo img {
		max-width: 120px;
	}
	.site-nav li a {
		color: #FFF;
		font-size: 20px;
	}
	.banner-right h3 {
		font-size: 26px;
	}
	.feature-card {
		padding: 40px;
	}
	.testimonial-card {
		padding: 34px;
	}
	.swiper-button-prev, .swiper-button-next {
		padding: 18px;
		width: 54px;
		height: 54px;
	}
	.testimonial-card .author img {
		width: 60px;
		height: 60px;
	}
	.testimonials .swiper-button-next {
		right: 40px;
	}
	.footer-rating-box {
		max-width: 220px;
	}
	.projects-featured .linestyle {
		width: 75%;
		left: 20px;
	}
	.project-cards .swiper-button-prev {
		right: 100px;
	}
}
@media screen and (max-width:1400px){
	.secondary-header #main {
		padding-top: 112px;
	}
	.site-banner {
		height: 950px;
	}
	.site-header .container {
		padding: 20px 20px;
	}
	.site-nav li.email, .site-nav li.phone {
		margin-left: 10px;
	}
	.site-nav li a {
		color: #FFF;
		font-size: 18px;
	}
	.primary-btn {
		padding: 18px 28px 18px 28px;
		font-size: 18px;
	}
	.learn-more {
		font-size: 18px;
	}
	.why-grid {
		grid-template-columns: 2fr 1fr;
		gap: 24px;
	}

	.feature-card {
		padding: 28px;
	}
	.feature-icon {
		width: 52px;
		height: 52px;
	}
	
	/* the-proof removed */
	.feature-card .count {
		margin: 34px 0;
	}
	.testimonial-card .quote-mark {
		max-width: 55px;
	}
	.testimonial-card p {
		margin: 34px 0;
	}
	.testimonial-card {
		padding: 24px;
	}
	.testimonial-card p {
		margin: 28px 0;
	}
	.testimonials .container {
		padding-left: 10px;
	}
	.testimonials-slider {
		padding-left: 80px;
	}
	.footer-right .footer-cols-center {
		margin: 40px 0;
	}
	.footer-top .grid {
		grid-template-columns: 1fr 1.5fr;
	}
	.footer-top::before {
		opacity: 0;
	}
	.footer-rating-box {
		max-width: 200px;
	}
	.behind-the-scenes {
		margin: 20px;
	}
	.gallery-sec {
		padding: 64px 0 164px;
	}
	.gallery-sec .section-title {
		margin-bottom: 84px;
	}
	
}
@media screen and (max-width:1200px) {
	.site-header .container{
		display: flex;
	}

	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 350px;
		background: var(--dark-bg);
		transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
		transform: translateX(100%);
		z-index: 99;
		margin-left: auto;
		display: none;
	}

	.site-nav ul {
		display: block;
		padding: 100px 40px;
	}

	.site-nav li {
		margin: 0 0 20px;
	}
	.site-nav li.email, .site-nav li.phone {
		margin-left: 0;
	}
	.site-nav li a {
		font-size: 20px;
	}
	.menu-toggle {
		display: block;
	}

	.closed-menu {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 25px;
		right: 15px;
		display: inline-block;
	}

	.toggle .site-nav {
		transform: translateX(0);
	}


	.site-header-right {
		text-align: right;
		margin-left: auto;
		margin-right: 30px;
	}
	.site-nav li.mobile-btn {
		display:block;
	}

	.primary-btn {
		padding: 16px 24px 16px 24px;
		font-size: 16px;
	}
	.learn-more {
		font-size: 18px;
	}

	.banner-wrap .grid {
		grid-template-columns: 100%;
	}
	.banner-wrap .container .grid, .banner-wrap .container .grid .item {
		height:auto;
	}
	.banner-right {
		margin-left: 0;
	}
	.banner-right h3 {
		font-size: 24px;
	}
	.why-grid {
		grid-template-columns: 100%;
	}
	.why-choose .container {
		margin: 0 auto;
	}
	.why-image img {
		max-height: 550px;
	}
	.why-choose.why-choose-reverse .why-grid {
		grid-template-columns: 100%;
	}
	.why-choose.why-choose-reverse .container {
		margin: 0 auto;
	}
	.features-grid {
		grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr)) !important;
	}
	
	/* the-proof removed */
	.testimonial-card .quote-mark {
		max-width: 45px;
	}
	.swiper-button-prev, .swiper-button-next {
		padding: 16px;
		width: 50px;
		height: 50px;
	}
	.footer-rating-label {
		font-size: 16px;
	}
	.footer-rating-box {
		max-width: 190px;
	}
	.footer-right {
		padding-left: 0;
	}
	.pf-meta {
		gap: 22px;
	}
	
	.pg-head {
		top: 40px;
	}
	.feature-icon {
		width: 40px;
		height: 40px;
	}
	.open-mega-menu {
		width: 60px;
		height: 60px;
	}
	.contact-fixed-bar a {
		width: 60px;
		height: 60px;
	}
	.mega-closed-menu {
		width: 60px;
		height: 60px;
	}
	.mega-menu .container {
		padding: 20px 20px;
	}
	.proof-projects-card-content {
		padding: 44px;
	}
	.project-card {
		height: 650px;
	}
	.details-project-card {
		padding: 24px;
	}
	.contact-fixed-bar a span {
		font-size: 18px;
	}
	.intro-links  ul {
		gap: 20px;
	}
	.mega-menu-open-container {
		top: 20px;
	}
	.contact-wrap {
		gap: 20px;
	}
	.form_control {
		padding: 14px 16px;
		font-size: 20px;
	}
	.form-group span {
		padding: 0 16px;
		font-size: 20px;
	}
	.contact-info li {
		padding: 24px;
	}
	.contact-section .section-title {
		margin-bottom: 34px;
	}
	.contact-section {
		padding: 0 0 80px;
	}
	.gallery-sec {
		padding: 64px 0 124px;
	}
	.gallery-sec .section-title {
		margin-bottom: 64px;
	}
}

@media screen and (max-width:991px){
	.site-banner h1 {
		line-height: normal;
	}
	.footer-top .grid {
		grid-template-columns: 100%;
	}
	.footer-lang-rating {
		margin: 60px 0;
	}
	.footer-right .footer-cols-center {
		margin: 20px 0;
	}
	.banner-right h3 {
		font-size: 22px;
	}
	.site-banner {
		height: 750px;
	}
	.pf-meta {
		gap: 15px;
	}
	
	.testimonials {
		padding: 80px 0 80px;
	}
	.pf-head {
		padding-right: 20px;
	}
	.linestyle {
		bottom: 40px;
	}
	.behind-the-scenes .content-box h2 {
		line-height: normal;
	}
	.the-proof-layout .grid {
		grid-template-columns: 100%;
	}
	.footer-bottom .container {
		grid-template-columns: 100%;
		gap: 24px;
		place-items: center;
	}
	.iqsay_logo {
		text-align: center;
	}
	.project-cards {
		position: static;
	}
	.details-project-card {
		max-width: 100%;
	}
	.project-cards .project-card-slider {
		max-width: 100%;
		margin: 0 auto;
	}
	.pg-thumbs img {
		height: 120px;
	}
	.project-card {
		height: 500px;
	}
	.content-box {
		padding: 32px 0 0;
	}
	.image-box img {
		max-height: 500px;
	}
	.content-box h4 {
		margin: 0 0 20px;
	}
	.section-title {
		margin: 0 0 20px;
	}
	.proof-projects-card-content {
		padding: 34px;
	}
	.the-proof-layout {
		margin-bottom: 44px;
	}
	.heading-deatils {
		margin: 0 auto 32px;
	}
	.pg-thumbs {
		padding: 0 20px;
	}
	.why-choose-top {
		padding-bottom: 32px;
		margin-bottom: 32px;
	}
	.privacy-policy {
		margin-top: 24px;
	}
	.form_control {
		height: 55px;
	}
	.contact-form .primary-btn {
		margin-top: 24px;
	}
	.contact-section .scroll-wrapper {
		margin-bottom: -60px;
	}
	.line-dot-style {
		padding: 32px 0;
	}
	.contact-section {
		padding: 0 0 40px;
	}
	.sub-title br {
		display: none;
	}
	.gallery-grid .grid {
		gap: 20px;
	}
}

@media screen and (max-width:768px){
	.testimonials .container {
		padding-right: 20px;
	}
	.footer-right div[class^="footer-cols"] {
		display: grid;
	}
	.footer-social {
		gap: 12px;
		margin-top: 24px;
		justify-content: start;
	}
	.footer-rating-box {
		max-width: 170px;
	}
	.behind-the-scenes .content-box {
		width: 90%;
		position: static;
		transform: translate(0, 0);
	}
	.testimonials {
		padding: 40px 0 40px;
	}
	.feature-card .count {
		margin: 20px 0;
	}
	.footer-logo {
		max-width: 120px;
	}
	.projects-featured .linestyle {
		width: 90%;
	}
	.details-project-card p {
		margin: 12px 0  0;
	}
	.reinvent {
		padding: 40px 0;
	}
	.feature-card {
		padding: 20px;
	}
	.open-mega-menu {
		width: 50px;
		height: 50px;
	}
	.contact-fixed-bar a {
		width: 50px;
		height: 50px;
	}
	.mega-closed-menu {
		width: 50px;
		height: 50px;
	}
	.why-choose {
		padding: 0 0 40px;
	}
	.pg-head h6 {
		font-size: 20px;
	}
	
	.intro-right .footer-social {
		margin: 0;
	}
	.mega-menu .grid {
		grid-template-columns: 100%;
		gap: 24px;
	}
	.contact-fixed-bar a:hover span {
		transform: translate(-40px, -50%);
	}
	
	.section-title br {
		display: none;
	}
	
	.line-dot-style h4 {
		font-size: 20px;
	}
	.contact-fixed-bar a svg {
		max-width: 20px;
	}
	.contact-wrap {
		grid-template-columns: 100%;
	}
	.contact-info {
		grid-area: 1;
	}
	.contact-info li h5 {
		margin-bottom: 8px;
	}
	.form_control {
		font-size: 18px;
	}
	.form-group span {
		font-size: 18px;
	}
	.contact-section .scroll-wrapper {
		margin-bottom: 0;
	}
	.contact-section .section-title {
		margin-bottom: 24px;
	}
	.contact-info li {
		padding: 24px 16px;
	}
	.contact-form .primary-btn {
		margin-top: 14px;
	}
	.why-choose-top h4 br {
		display: none;
	}
	.gallery-content-top span {
		opacity: 1;
		visibility: visible;
	}
	.gallery-content p {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	.gallery-content-top h4 {
		color:#fff;
	}
	.gallery-sec .section-title {
		margin-bottom: 44px;
	}
}

@media screen and (max-width:575px){
	.pf-card {
		grid-template-columns: 100%;
	}
	.swiper-button-prev, .swiper-button-next {
		display: none !important;
	}
	.testimonials-slider {
		padding-left: 0;
	}
	.banner-btns {
		flex-wrap: wrap;
	}
	.banner-btns a {
		width: 100%;
		text-align: center;
	}
	.projects-featured .linestyle {
		width: calc(100% - 65px);
	}
	.site-nav {
		max-width: 100%;
	}
	.banner-right h3 {
		text-align: center;
	}
	.site-banner h1 {
		text-align: center;
		margin: 0 auto;
	}
	.testimonials .container {
		padding: 0;
		max-width: calc(100% - 40px);
	}
	.footer-top {
		padding-bottom: 40px;
	}
	.reinvent-card-row {
		grid-template-columns: 100%;
	}
	.reinvent-card-row:nth-child(even) .reinvent-card-img {
		grid-area: auto;
	}
	.proof-projects-grid {
		grid-template-columns: 100%;
	}
	.proof-projects-card-img img {
		width: 100%;
	}
	.proof-projects-card-content {
		padding: 24px;
	}
	.project-card {
		height: 400px;
	}
	.site-banner {
		height: 550px;
	}
	.btns_group a {
		width: 100%;
		text-align: center;
	}
	.why-choose-top h4 {
		text-align: center;
		line-height: normal;
	}
	
	.intro-links  ul {
		grid-template-columns: 100%;
	}
	.intro-bottom {
		flex-direction: column;
		align-items: start;
	}
	.pg-thumbs img {
		height: 80px;
	}

	.gallery-grid .grid {
		grid-template-columns: 100%;
	}
	.gallery-grid .grid .item:nth-of-type(even) {
		transform: translateY(0);
	}
	.gallery-sec {
		padding: 54px 0 40px;
	}
}

@media screen and (max-width:480px){
}