/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#001625;
    --dark-bg:#001625;
    --theme:#73BF43;
    --secondary-clr:#55A4DA;
    
}
body {
    font-family: 'Neue Montreal';
    background: var(--dark-bg);
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

p,li {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: clamp(1.2rem, 2.5vw, 24px);
    letter-spacing: -0.02em;
    font-weight: 400;
    line-height: normal;
}

img,
video {
    max-width: 100%;
}
address{
    margin: 0;
}
span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Neue Montreal';
    color:#fff;
}

/* resue class start   */
.container {
    width: 100%;
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.grid-span-2 {
    grid-column: span 2;
}

.scroll {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 90s linear infinite;
    }
      
      
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
/* resue classes end  */
.mobile-menu {
    display: none;
}

#main {
    position: relative;
}


/* site btns */
.primary-btn {
    padding: 24px 36px 24px 36px;
    color: #fff;
    font-family: 'Neue Montreal';
    background:var(--secondary-clr);
    transition: all 0.2s linear;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.02em;
    border: 0;
    overflow: hidden;
}
.primary-btn:hover {
    color: #fff;
}

.primary-btn span {
    position: relative;
    
}

.primary-btn span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    bottom: 0;
    transition: all 0.2s linear;
    opacity: 0;
}

.primary-btn:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--theme);
    transition: all 0.2s linear;
}
.primary-btn:hover::before {
    transform: translateY(-100%);
}
.primary-btn:hover span::after {
    opacity: 1;
}
/* site btns  */

/* swiper btns  */
.swiper-button-prev, .swiper-button-next{
    background:var(--secondary-clr);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}
.swiper-button-prev::after, .swiper-button-next::after{
    content: "";
}
/* swiper btns  */
.heading-deatils {
    width: 100%;
    margin: 0 auto 52px;
}

.section-title {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    letter-spacing: -0.02em;
    font-weight: 500;
    position: relative;
    margin: 0 0 32px;
    font-size: clamp(1.75rem, 5vw, 84px);
    line-height: 100%;
}

.sub-title {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: clamp(1.2rem, 3vw, 32px);
    letter-spacing: -0.02em;
    font-weight: 400;
    margin: 0;
}


/*header start*/
.site-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid rgb(255 255 255 / 30%);
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 15px;
}

.site-logo img {
    max-width: 227px;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.site-nav li.email, .site-nav li.phone {
    margin-left: 40px;
}
.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
    font-family: 'Neue Montreal';
    line-height: normal;
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    overflow: hidden;
}
/* .site-nav li a:hover {
    color: var(--secondary-clr);
} */

span.text.bottom {
    position: absolute;
    top: 0;
    left: 0;
}
.site-nav li a.active {
    color: var(--secondary-clr);
}
.closed-menu a {
    width: 40px;
    aspect-ratio: 1;
}

.site-nav li.mobile-btn {
    display: none;
}

.site-nav li.email a, .site-nav li.phone a {
    display: inline-flex;
    gap: 15px;
    font-weight: 400;
}

.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
.site-header .open-mega-menu {
    position: static;
}
/*header end*/ 
/* mega menu start  */
.mega-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
}
.mega-menu .grid {
    grid-template-columns: 1.5fr 1fr;
}
.mega-menu-open-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 40px;
    left: 0;
    right: 0;
    max-width: 1528px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 9;
}
.mega-menu-open-container .site-logo img {
    max-width: 120px;
}
.open-mega-menu {
    cursor: pointer;
    width: 80px;
    height: 80px;
    background: #ffffff0f;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    backdrop-filter: blur(10px);
    margin-left: auto;
}
.open-mega-menu:hover {
    background: #fff;
}
.open-mega-menu svg path {
    transition: all 0.2s linear;
}
.open-mega-menu:hover svg path {
    stroke:#000E17;
}
.mega-menu .container {
    background: #fff;
    color: #001625;
    padding: 40px 38px 24px;
    max-width: 1564px;
}
.intro-title {
    color: #001625;
    font-size: clamp(1.5rem, 4vw, 64px);
    font-weight: 400;
    letter-spacing: -0.02em;
}
.intro-links  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 80px;
    justify-items: start;
}
.intro-links a {
    color: #001625;
    font-size: clamp(1.4rem, 3.5vw, 52px);
    transition: all 0.2s linear;
    font-weight: 500;
}
.intro-links a:hover {
    color: var(--theme);
}
.intro-links a.active {
    color: var(--theme);
}
.intro-bottom {
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 184px;
    display: flex;
    column-gap: 80px;
}
a.mega-mail {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    transition: all 0.2s linear;
    font-size: clamp(1.2rem, 2.5vw, 24px);
    font-weight: 500;
}
a.mega-mail:hover{
    color: var(--theme);
}
a.mega-mail svg path {
    transition: all 0.2s linear;
}
a.mega-mail:hover svg path {
    stroke: var(--theme);
}
.intro-address {
    color: #001625;
    font-size: clamp(1.2rem, 2.5vw, 24px); 
    font-weight: 500;
    line-height: normal;
}
.intro-phone {
    color: #001625; 
    font-size: clamp(1.5rem, 3vw, 52px); 
    font-weight: 500;
    transition: all 0.2s linear;
}
.intro-phone:hover {
    color: var(--theme);
}
.intro-email {
    color: #001625;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 12px; 
    transition: all 0.2s linear;
}
.intro-email:hover {
    color: var(--theme);
}
.mega-menu a.social-link {
    background: #f2f3f4;
}
.mega-menu a.social-link:hover {
    background: var(--theme);
}
.mega-menu a.social-link svg path {
    fill: #001625;
    transition: all 0.2s linear;
}
.mega-menu a.social-link:hover svg path {
    fill: #fff;
}
.mega-menu .site-logo a img {
    max-width: 120px;
}
.mega-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 64px;
}
.mega-closed-menu {
    width: 80px;
    height: 80px;
    background: #f2f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    position: relative;
    cursor: pointer;
}
.mega-closed-menu:hover {
    background: #000E17;
}
.mega-closed-menu svg {
    transition: all 0.2s linear;
}
.mega-closed-menu:hover svg {
    transform: rotate(180deg);
}
.mega-closed-menu svg path {
    transition: all 0.2s linear;
}
.mega-closed-menu:hover svg path {
    stroke: #fff;
}
/* mega menu end  */
.contact-fixed-bar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: end;
    transform: translateY(-50%);
}
.contact-fixed-bar a {
    width: 80px;
    height: 80px;
    background: #55A4DA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    position: relative;
    cursor: pointer;
}
.contact-fixed-bar a span {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s linear;
    position: absolute;
    right: 0;
    white-space: nowrap;
    top: 50%;
    transform: translate(100%, -50%);
    background: var(--theme);
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 24px;
}

.contact-fixed-bar a:hover span {
    transform: translate(-60px, -50%);
}
.contact-fixed-bar a:hover {
    background: var(--theme);
}
/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;
    height: 1080px;
    z-index: 10;
    background: var(--black);
}
.site-banner::before {
    content: "";
    position: absolute;
    background: #001625;
    z-index: 1;
    inset: 0;
    opacity: 0.3;
}
.banner-wrap {
    height: 100%;
    position: relative;
    z-index: 2;
}
.banner-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-wrap .grid {
    grid-template-columns: 1.5fr 1fr;
    gap: 24px;
}

.banner-vid {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.banner-vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-banner h1 {
    color: #ffffff;
    text-align: center;
    line-height: 90%;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: clamp(2.5rem, 6.5vw, 104px);
    text-transform: uppercase;
}
.banner-wrap .container {
    height: 100%;
}


.btns_group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.learn-more {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 500;
    transition: all 0.2s linear;
}

.learn-more:hover{
    color: var(--secondary-clr);
}
.btns_group .primary-btn {
    font-size: 18px;
    text-transform: uppercase;
}
.linestyle {
    height: 1px;
    background: rgb(255 255 255 / 30%);
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}

/* site banner end  */

/* site footer start  */
.site-footer {
    color: #fff;
    background: #000E17;
}
.footer-top {
    position: relative;
    padding: 44px 0 44px;
    border-bottom: 1px solid rgb(255 255 255 / 15%);
}
.footer-top::before {
    content: "";
    position: absolute;
    background: rgb(255 255 255 / 15%);
    width: 1px;
    top:0;
    bottom: 0;
    left: 50%;
}
.footer-top .grid {
    gap: 20px;
}
.footer-right {
    padding-left: 40px;
    display: grid;
    gap: 32px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer-logo {
    max-width: 90px;
}
.footer-rating-value {
    color: rgb(255 255 255 / 50%);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 64px;
    font-size: clamp(1.5rem, 4vw, 64px);
    letter-spacing: -0.02em;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-rating-label {
    color: rgb(255 255 255 / 50%);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.divider {
    background: rgb(255 255 255 / 15%);
    width: 2px;
    height: 80px;
    margin: 0 20px;
    flex-shrink: 0;
}
.footer-rating-label::after {
    content: "";
    position: absolute;
    background: rgb(255 255 255 / 50%);
    width: 2px;
    height: 100%;
    top: 0;
    right: 20px;
    opacity: 0;
}

.footer-cols-center .footer-col {
    width: 100%;
    text-align: right;
}
.footer-social-links h4 {
    color: rgb(255 255 255 / 50%);
    text-align: right;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 500;
    text-transform: uppercase;
}
address.footer-address p {
    font-size: clamp(18px, 3vw, 32px);
    margin: 0;
}
.footer-social {
    display: flex;
    gap: 12px;
}
.social-link {
    width: 56px;
    height: 56px;
    background: transparent;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.25);
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}
.social-link:hover {
    background: var(--theme);
}

.footer-sec-title {
    color: rgb(255 255 255 / 50%);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-phone {
    color: #ffffff;
    font-family: 'Neue Montreal';
    font-size: clamp(1.3rem, 2vw, 32px);
    letter-spacing: -0.02em;
    font-weight: 400;
    display: block;
    transition: all 0.2s linear;
}

.footer-phone:hover {
    color: var(--theme);
}

.footer-nav li a {
    color: #fff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: clamp(24px, 3vw, 52px);
    letter-spacing: -0.02em;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s linear;
}
.footer-nav li a:hover{
    color: var(--theme);
}
.footer-bottom {
    padding-top: 44px;
}
.footer-bottom .container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.footer-bottom .container p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: rgb(255 255 255 / 50%);
}
  

  
  .footer-bottom-text h2 {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    letter-spacing: -0.02em;
    font-weight: 500;
    opacity: 0.1;
    display: inline-block;
    font-size: clamp(2.5rem, 8vw, 124px);
}
.footer-lang-item {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.5;
}
.footer-lang-item.active {
    opacity: 1;
}

.footer-privacy {
    color: rgb(255 255 255 / 50%);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 500;
    text-transform: uppercase;
}
.footer-email {
    color: #ffffff;
    text-align: left;
    font-family: "NeueMontreal-Medium", sans-serif;
    font-size: clamp(1.2rem, 2vw, 24px);
    letter-spacing: -0.02em;
    font-weight: 500;
    display: block;
    transition: all 0.2s linear;
}
.footer-email:hover{
    color: var(--theme);
}

.iqsay_logo {
    width: 100%;
    text-align: right;
}
.iqsay_logo a {
    max-width: 150px;
    position: relative;
}
.iqsay_logo a img {
    transition: ease all 0.4s;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.iqsay_logo a img.with_hvr {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.iqsay_logo a:hover img {
    filter: none;
}
.iqsay_logo a:hover img.with_hvr {
    opacity: 1;
    visibility: visible;
}

.privacy-policy a {
    color: rgb(255 255 255 / 50%);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.privacy-policy a:hover{
    color: var(--theme);
}
.privacy-policy {
    display: flex;
    gap: 24px;
}
/* footer end  */
/* testimonials start */
.testimonials {
    padding: 120px 0 80px;
}
.testimonials .container {
    max-width: 100%;
}
.testimonials .heading-deatils .section-title {
    background: linear-gradient(90deg, #48B206 0%, #0070BD 100%);
}
.testimonials .sub-title {
    opacity: 0.8;
}
.testimonials-slider {
    position: relative;
    width: 100%;
    max-width: 1800px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 100px;
}
.testimonial-card {
    border: 1px solid #e8e8e8;
    padding: 52px;
    height: 100%;
    background: #fff;
}
.testimonial-card p {
    color: #001625;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: clamp(1.125rem, 2vw, 32px);
    line-height: 130%;
    letter-spacing: -0.02em;
    font-weight: 400;
    margin: 44px 0;
}
.testimonial-card .quote-mark {
    width: 100%;
    max-width: 67px;
}
.testimonial-card .author {
    display: flex;
    align-items: center;
    gap: 14px;
}
.testimonial-card .author img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.author-name {
    color: #001625;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 400;
}
.author-rating {
    display: flex;
    gap: 5px;
}
.author-rating i {
    color:var(--secondary-clr);
    font-size: 24px;
}
.testimonials-cta {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.testimonials .swiper-slide{
    opacity: 0.5;
    height: auto;
}
.testimonials .swiper-slide.swiper-slide-active {
    opacity: 1;
}
.testimonials .swiper-button-prev,
.testimonials .swiper-button-next {
    color: #fff;
}
.testimonials .swiper-button-prev:hover,
.testimonials .swiper-button-next:hover {
    color: var(--secondary-clr);
}

.testimonials .swiper-button-next {
    right: 100px;
}
/* testimonials end */

/* why-choose start */
.why-choose {
    padding: 0 0 80px;
}
.scroll-wrapper {
    overflow: hidden;
    margin-top: -35px;
}
.bigger-text {
    font-size: clamp(80px, 13vw, 180px);
    letter-spacing: -0.02em;
    font-weight: 500;
    opacity: 0.1;
    display: inline-block;
}
.why-choose-top h4 {
    font-weight: 400;
    line-height: 100%;
    font-size: clamp(24px, 3vw, 44px);
}
.why-choose-top h4 a {
    color: #55A4DA;
    display: inline;
}
.why-sub {
    color: #8CA3B8;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.why-choose-top {
    border-bottom: 1px solid #394248;
    padding-bottom: 52px;
    margin-bottom: 52px;
}
.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
.feature-card {
    border: 1px solid #394248;
    padding: 52px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    transition: all 0.3s linear;
    min-height: 230px;
}

.feature-card:hover {
    background: #fff;
    border-color: transparent;
}
.feature-icon {
    margin: 48px 0;
}
.feature-card span {
    color:var(--secondary-clr);
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: 32px;
    letter-spacing: -0.02em;
    font-weight: 300;
    transition: all 0.3s linear;
}
.feature-card:hover span {
    color: var(--black);
}
.feature-icon {
    margin: 14px 0;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
}
.feature-icon svg {
    height: 100%;
}
.feature-icon svg path {
    transition: all 0.3s linear;
    stroke: var(--secondary-clr);
}
/* .feature-card:hover .feature-icon svg path {
    stroke: #fff;
} */
.feature-icon img {
    width: 36px;
    height: 36px;
}
.feature-card h4 {
    color: #ffffff;
    text-align: left;
    font-family: 'Neue Montreal';
    font-size: clamp(20px, 3vw, 32px);
    letter-spacing: -0.02em;
    font-weight: 400;
    transition: all 0.3s linear;
}

.feature-card:hover h4 {
    color: var(--black);
}
.feature-highlight .feature-index {
    color: rgba(255, 255, 255, 0.8);
}
.why-image {
    width: 100%;
    height: 100%;
}

.why-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.why-choose.why-choose-reverse .container {
    margin-left: 0;
    margin-right: auto;
}

.why-choose.why-choose-reverse .why-grid {
    grid-template-columns: 1fr 1.5fr;
}

.why-choose.why-choose-reverse .why-grid .item:last-child {
    grid-area: 1;
}
.why-choose.why-choose-reverse .feature-card:hover {
    background: var(--theme);
}
/* why-choose end */

/* projects-gallery start */
.projects-gallery {
    position: relative;
}
.projects-gallery .container {
    max-width: 100%;
    padding: 0;
}
.pg-head {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    z-index: 9;
    mix-blend-mode: overlay;
}
.pg-head h6 {
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #001625;
    text-transform: uppercase;
    display: inline-block;
}
.pg-main-wrap {
    position: relative;
}

.pg-main {
    width: 100%;
}
.project-card {
    height: 960px;
    overflow: hidden;
}
.pg-main .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1.3);
    transition: all 0.8s ease-in-out;
}
.zoom-out .pg-main .project-card img {
    transform: scale(1);
}
.pg-thumbs {
    margin-top: 18px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    padding: 0 40px;
}
.pg-thumbs .swiper-slide {
    cursor: pointer;
}
.pg-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.pg-thumbs img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.projects-gallery .swiper-button-prev,
.projects-gallery .swiper-button-next {
    position: absolute;
    top: 40%;
    z-index: 2;
}
.projects-gallery .swiper-button-prev { left: 15px; }
.projects-gallery .swiper-button-next { right: 15px; }


.projects-cta {
    margin-top: 64px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
}
/* projects-gallery end */
/* reinvent start  */
.reinvent{
    padding: 80px 0 ;
}
.reinvent .sub-title {
    max-width: 1020px;
    font-size: clamp(18px, 3vw, 32px);
}
.reinvent-card-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.reinvent-card-row:nth-child(even) .reinvent-card-img {
    grid-area: 1;
}
.reinvent-grid .feature-icon {
    margin: 12px 0;
}

.reinvent-card-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.reinvent-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}
.reinvent-grid .feature-card h4 {
    font-size: clamp(22px, 3vw, 44px);
}
.reinvent-card-row:hover .reinvent-card-img img {
    transform: scale(1.2);
}
/* reinvent end  */
/* feature-project start  */
.feature-project {
    position: relative;
}
.feature-project-bg {
    overflow: hidden;
}
.feature-project-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
    transform: scale(1.3);
}
.feature-project.zoom-out .feature-project-bg img {
    transform: scale(1);
}
.project-cards {
    position: absolute;
    bottom: 44px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1523px;
    margin: 0 auto;
}
.details-project-card {
    background: #fff;
    width: 100%;
    max-width: 738px;
    padding: 34px;
    margin-left: auto;
}
.details-project-card h4 {
    font-size: clamp(20px, 3vw, 32px);
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #001625;
}
.category, .address {
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: rgb(0 22 37 / 50%);
}
.details-project-card p {
    font-size: 18px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: rgb(0 22 37 / 50%);
    margin: 24px 0  0;
}
.project-cards .project-card-slider {
    width: 100%;
    max-width: 738px;
    margin-right: 0;
}
.project-cards .swiper-button-prev, .project-cards .swiper-button-next {
    background: #8AA6B8;
}

.project-cards .swiper-button-prev {
    top: 64px;
    right: 110px;
    left: auto;
}
.project-cards .swiper-button-next {
    top: 64px;
    right: 34px;
}
/* feature-project end  */
/* behind-the-scenes start  */
.behind-the-scenes {
    position: relative;
    margin: 44px;
}

.behind-the-scenes img {
    width: 100%;
    display: block;
}

.overlay {
    background: rgba(0 0 0/50%);
    position: absolute;
    inset: 0;
}

.behind-the-scenes .content-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    width: 100%;
    max-width: 1260px;
    padding: 15px;
    margin: 0 auto;
}

.behind-the-scenes .content-box h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Neue Montreal';
    font-size: clamp(1.5rem, 5vw, 84px);
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.behind-the-scenes .content-box p {
    text-align: center;
}
/* behind-the-scenes end  */
/* the-proof start */

.content-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.content-box h4 {
    font-size: 84px;
    font-size: clamp(1.75rem, 4.5vw, 84px);
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #fff;
    margin: 0 0 32px;
}

.content-box p{
    font-size: clamp(18px, 3vw, 32px);
}
.the-proof-layout {
    margin-bottom: 84px;
}

.image-box img {
    width: 100%;
    object-fit: cover;
}
.proof-projects-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    border: 1px solid #394248;
    margin-bottom: -1px;
    overflow: hidden;
}
.proof-projects-card-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.proof-projects-card-img img {
    width: 0;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
}
.proof-projects-card-content {
    padding: 84px;
    position: relative;
    isolation: isolate;
}
.proof-projects-card-content::before {
    content: "";
    position: absolute;
    background: #73bf43;
    inset: 0;
    z-index: -1;
    width: 0;
    transition: all 0.3s ease-in-out;
}
.proof-projects-grid.active .proof-projects-card-content::before {
    width: 100%;
}

.proof-projects-grid:nth-child(even) .proof-projects-card-content::before {
    background: #55a4da;
}
.proof-projects-grid.active .proof-projects-card-img img {
    width: 100%;
}
.proof-projects-card-content h3 {
    font-size: clamp(50px, 9vw, 124px);
    letter-spacing: -0.02em;
    font-weight: 300;
    color: #fff;
}
.proof-projects-card-content p {
    font-size: clamp(24px, 3vw, 44px);
    margin: 0;
}

/* homage page end here  */
.secondary-header #main{
    padding-top: 200px;
}
.secondary-header .site-header{
    background: var(--dark-bg);
}
.line-dot-style {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 52px 0;
}
.dot {
    background: #55a4da;
    border-radius: 50%;
    flex-shrink: 0;
    width: 10px;
    height: 10px;
}
.line-dot-style .line {
    background: #394248;
    height: 1px;
    flex-grow: 1;
}
.line-dot-style h4 {
    font-size: 24px;
}
/* contact page start  */
.contact-section {
    padding: 0 0 120px;
}
.contact-section .scroll-wrapper {
    margin-bottom: -90px;
    margin-top: -20px;
}
.contact-section .section-title {
    font-size: clamp(30px, 6vw, 104px);
    line-height: 90%;
    margin-bottom: 64px;
}
.form_control {
    display: block;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 24px;
    background: transparent;
    height: 77px;
    resize: none;
    color:#fff;
    text-align: left;
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-family: 'Neue Montreal';
    overflow: hidden;
}
.form_control::placeholder {
    color: rgb(255 255 255 / 50%);
}
.form_control:focus-visible, .form_control:focus {
    outline: none;
}
.form-group {
    position: relative;
}
.form-group span {
    color: rgb(255 255 255 / 50%);
    font-size: 24px;
    letter-spacing: -0.02em;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 24px;
}
.form-group:not(:last-child) {
    margin-bottom: 16px;
}

.form_control:not(:placeholder-shown) + span {
    opacity: 0;
}
.contact-form .primary-btn {
    width: 100%;
    margin-top: 32px;
}
.contact-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.contact-form {
    width: 100%;
}
.contact-info {
    width: 100%;
}
.contact-info ul {
    display: grid;
    gap: 12px;
}
.contact-info li {
    background: #fff;
    padding: 32px;
}

.contact-info li h5 {
    color: rgb(0 22 37 / 50%);
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.contact-info li p {
    color: #001625;
    font-size: clamp(20px, 3vw, 32px);
    letter-spacing: -0.02em;
    font-weight: 500;
    margin: 0;
}
/* contact page end  */

/* gallery page start  */
.gallery-sec {
    padding: 64px 0 224px;
}
.gallery-sec .section-title {
    font-size: clamp(30px, 6vw, 104px);
    line-height: 90%;
    margin-bottom: 124px;
}
.gallery-grid .grid {
    gap: 32px;
}
.gallery-grid .grid .item:nth-of-type(even) {
    transform: translateY(25%);
}
.gallery-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.3s linear;
}
.gallery-content-top {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    margin-top: 24px;
}
.gallery-content-top h4 {
    color: rgb(255 255 255 / 50%);
    font-size: clamp(1.2rem, 3vw, 24px);
    letter-spacing: -0.02em;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.gallery-content-top span {
    color: #55a4da;
    font-size: clamp(1.2rem, 3vw, 24px);
    letter-spacing: -0.02em;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.gallery-content p {
    color: rgb(255 255 255 / 50%);
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;

}

.gallery-card:hover .gallery-img img {
    transform: scale(1.1);
}
.gallery-card:hover .gallery-content-top h4 {
    color:#fff;
}
.gallery-card:hover .gallery-content-top span {
    opacity: 1;
    visibility: visible;
}
.gallery-card:hover .gallery-content p {
    transform: translateY(0);
    opacity: 1;
    visibility:visible;
}
/* gallery page end  */

/* about us page start  */
.we-build {
    padding: 84px 0;
}
.meet-the-team-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
}

.meet-the-team .section-title {
    margin: 0;
    font-size: clamp(30px, 6vw, 104px);
}
.we-build-content-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin: 0 0 84px;
}
.we-build-content-top p {
    font-weight: 400;
    line-height: 100%;
    font-size: clamp(24px, 3vw, 44px);
    margin: 0;
    max-width: 800px;
}
.we-build-content-top p a{
    color: #55A4DA;
    display: inline;
}

.we-build-content-top h3 {
    color: #ffffff;
    font-family: 'Neue Montreal';
    font-size: clamp(1.5rem, 5vw, 84px);
    line-height: 100%;
    letter-spacing: -0.02em;
    font-weight: 500;
}

.we-build-img-details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}
.we-build-img-details-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.we-build-img-details-content ul {
    display: grid;
    gap: 32px;
}

.meet-ofir {
    padding: 52px 0;
}
.meet-ofir-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    align-items: center;
}
.meet-ofir-left {
    display: flex;
    gap: 32px;
    align-items: center;
}
.meet-ofir-img {
    width: 100%;
    max-width: 317px;
}
.meet-ofir-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meet-ofir-content {
    display: grid;
    gap: 32px;
}
.meet-ofir-content p {
    font-size: clamp(20px, 2vw, 32px);
    margin: 0;
}
.meet-content-details ul {
    display: grid;
    gap: 32px;
}
.meet-ofir-bottom-content h4{
    color: var(--secondary-clr);
    margin: 72px 0;
}
.meet-ofir-bottom-content h4, .meet-ofir-bottom-content p {
    font-size: clamp(24px, 3vw, 44px);
}
.team-cards {
    padding: 52px;
}
.team-cards-wrap .grid {
    gap: 1px;
}

.team-card-content {
    padding: 24px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
}
.team-card-content h4, .team-card-content span {
    font-size: 20px;
    letter-spacing: -0.02em;
    font-weight: 400;
    color: #001625;
    line-height: normal;
}
.team-card-content span {
    color: rgb(0 22 37 / 50%);
}
.team-card-img{
    overflow: hidden;
}
.team-card-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.2s linear;
}
.team-card:hover .team-card-img img {
    transform: scale(1.2);
}
.we-are-about {
    padding-bottom: 52px;
}
.we-are-about .feature-card {
    gap: 32px;
}
.we-are-about .features-grid {
    gap: 0;
}
.we-are-about .feature-card h4 {
    font-size: clamp(24px, 3vw, 44px);
}
.feature-card p {
    color: rgb(255 255 255 / 50%);
    transition: all 0.3s linear;
    margin: 0;
}
.we-are-about .feature-card:hover p {
    color:#001625;
}
.we-are-about .feature-icon {
    margin: 0;
}

.we-are-about .feature-card:nth-of-type(2) {
    margin-inline: -1px;
}

/* about us page end  */